{{>header}}
<table border="1">
    <tr>
        <td><a href="login">login</a></td>
        <td></td>
        <td><a href="register">Register</a></td>
    </tr>
</table>

</center>

</body>
<footer>Copyright of year {{footerYear}}</footer>

</html>